<h1>Advanced search</h1>

<div class="advanced-search-content">

  <fieldset>
    <legend>Chemical properties</legend>

    <div>
      <input type="checkbox" id="peroxy" name="peroxy" />
      <label for="peroxy">Peroxy radical</label>
    </div>
  </fieldset>

  <br/>

  <% unless @species.nil? %>
    <ul>
    <% @species.each do |species| %>
      <li><%= species[:Name] %></li>
    <% end %>
    </ul>
  <% end %>

</div>
