<h1>Advanced search</h1>

<div class="advanced-search-content">

  <form>
    <fieldset>
      <legend>Chemical properties</legend>

      <input id="advs-all" type="hidden" name="all" checked />

      <input id="advs-peroxy" type="checkbox" name="peroxy" />
      <label for="peroxy">Peroxy radical</label>

      <input id="advs-submit" type="submit" value="Submit" />
    </fieldset>
  </form

  <br/>

  <% unless @species.nil? %>
    <ul>
    <% @species.each do |species| %>
      <li><a href="/<%= params[:mechanism] %>/species/<%= species[:Name] %>"><%= species[:Name] %></a></li>
    <% end %>
    </ul>
  <% end %>

</div>
