<h1>Export</h1>

Click below to export chosen mechanism subset for the selected species.

<br>
<br>

<form method="post">
  <div class="form-group">
    <label for="selected">Select species mechanisms to export:</label><br>
    <% session[:mark_list].each do |x| %>
      <input type="checkbox" name="selected[]" value=<%= x %> checked> <%= x %><br>
    <% end %>
    <br>
    <input type="submit" value="Download">
  </div>
</form>
