<h1>Export</h1>

Click below to export chosen mechanism subset for the selected species.

<form class="export-form" method="get" action=<%= "/#{@mechanism}/export/download"%>>
  <div class="form-group">
    <div id="exportMarklist" hidden>
      <!-- Will get populated with hidden list so can easily include in form submission -->
    </div>
    <input type="checkbox" name="inorganic" checked>Include inorganic reactions?<br>
    <input type="checkbox" name="generic" checked>Include generic rate coefficients?<br><br>
    <span>Choose an output format:</span><br>
    <input type="radio" id="facsimile" name="format" value="facsimile" checked data-bs-toggle="collapse" data-bs-target="#kppInfo" aria-expanded="false" aria-controls="kppInfo">
    <label for="facsimile">FACSIMILE</label><br>
    <input type="radio" id="kpp" name="format" value="kpp" data-bs-toggle="collapse" data-bs-target="#kppInfo" aria-expanded="false" aria-controls="kppInfo">
    <label for="kpp">KPP </label><br><br>
    <div class="collapse" id="kppInfo">
      <p>
      To run MCM mechanisms using KPP you'll also need a copy of <a href=<%= "/#{@mechanism}/export/kpp_constants" %>>constants_mcm.f90</a>. This file contains the definitions of all rate constants (simple, complex, and photolysis) used in the MCM and so <b>only needs to be redownloaded when any rates have been updated</b>. It was last updated on 2023-12-19.
      The KPP repo has <a href="https://github.com/KineticPreProcessor/KPP/tree/main/examples/mcm">documentation</a> on how use these files in a model.
      </p>
    </div>
    <input class="export-btn-download" type="submit" value="Download">
   
  </div>
</form>

<% if @error%>
  <br>
  <div class="alert alert-danger" role="alert">
    Unable to export mechanism - ensure that at least one species has been added to the shopping basket.
  </div>
<% end %>


<script>
populateExportMarklist()
</script>
