<h1>Export</h1>

Click below to export chosen mechanism subset for the selected species.

<form class="export-form" method="post">
  <div class="form-group">
    <div id="exportMarklist" hidden>
      <!-- Will get populated -->
    </div>
    <input type="checkbox" name="inorganic" checked>Include inorganic reactions?<br>
    <input type="checkbox" name="generic" checked>Include generic rate coefficients?<br>
    <input class="export-btn-download" type="submit" value="Download as FACSIMILE">
   
  </div>
</form>

<script>
populateExportMarklist()
</script>
