<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= rel '/' %>">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login Test</li>
  </ol>
</nav>

<h1>Base App</h1>

<p>If you're logged in, a username will show up in the navbar.</p>
