<h2>Mark List</h2>
<br>
  <div class='marklist-container'>
    <ul id='marklist'>
    </ul>
    <button class="btn btn-danger marklist-clear" onclick="clearMarklist()">
      Clear mark list
    </button>
  </div>
