<h2>Mark List</h2>
<br>

<form method="post" action="/remove_marklist">
  <div class="form-group">
    <% session[:mark_list].each do |x| %>
      <input type="checkbox" name="selected[]" value=<%= x %>> <%= x %><br>
    <% end %>
    <br>
    <input type="submit" value="Remove selected">
  </div>
</form>

<form method="post" action="/clear_marklist">
  <input class="btn btn-danger" type="submit" value="Clear mark list"/>
</form>
