<div class='marklist-container'>
  <div id='marklist' class="marklist-list">
  </div>
  <button class="btn btn-danger marklist-clear" onclick="clearMarklist()">
    Clear mark list
  </button>
</div>

<script>
  refreshMarklist()
</script>
