<h1>Reactions</h1>

<form method="get">
  <!--<div class="form-group"> -->
    <label for="n_reactions">Number reactions to display</label>
    <input type="text" name="n" value=<%= @n_reactions %>>
    <input type="submit" value="Refresh">
    <!--</div>-->
</form>

<table class="table">
  <thead>
    <tr>
      <th>Reaction</th>
      <th>Rate</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @reactions.each do |reaction| %>
    <tr>
      <td><%= reaction[:Reaction] %></td>
      <td><%= reaction[:Rate] %></td>
      <td><%= reaction[:InorganicCategory] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
