<h1>Search</h1>

<form method="get">
  <!--<div class="form-group"> -->
  <!--<label for="n_reactions">Number species to display</label>-->
    <input type="text" name="q" placeholder="Enter a species name">
    <input type="submit" value="Search">
    <!--</div>-->
</form>

<% unless @species.nil? %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @species.each do |species| %>
    <tr>
      <td><a href="species_info/<%= species[:Name]%>"><%= species[:Name] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
