<h1>Search</h1>

<select id="tom-select-it" placeholder="Start typing a species formula or name...">
</select>
  <!-- TODO where and how should scoring go? Just return from API 
  a list of all species and -->
  <!-- Each search should return a single species along with its Smiles, Inchi etc... 
    So should the serverside search return a single score that the client side just naively ranks?
  Or should the server return a large list of values, set the searchField property and let TomSelect go nuts?-->
  <!-- TODO add nice HTML rendering of each Species including their diagram, Synonym, Smiles, Inchi -->
<script>
  var settings = {
    maxItems: 1,
    maxOptions: 100,
    closeAfterSelect: true,
    valueField: 'Species',
    labelField: 'Species',
    searchField: ['Species', 'Synonyms'],
    sortField: [{field: '$order'}, {field: '$score'}],
    options: [],
    create: false,
    load: function(query, callback) {
      var url = "/search-synonym?q=" + encodeURIComponent(query);
      console.log("Requesting data from: " + url);
      fetch(url)
        .then(response => response.json())
        .then(json => {
          callback(json);
        }).catch(() => {
          callback();
        });
    },
    render: {
      option: function(item, escape) {
          return `<div class="py-2 d-flex">
                      <div class="icon me-3">
                          <img class="img-fluid" src="species_images/${ escape(item.Species) }.png" />
                      </div>
                      <div>
                          <div class="mb-1">
                              <span class="h4">
                                  ${ escape(item.Species) }
                              </span>
                          </div>
                          <div class="description">${ escape(item.Synonyms) }</div>
                      </div>
                  </div>`;
      },
      item: function(item, escape) {
          return `<div class="py-2 d-flex">
                      <div class="icon me-3">
                          <img class="img-fluid" src="species_images/${ escape(item.Species) }.png" />
                      </div>
                      <div>
                          <div class="mb-1">
                              <span class="h4">
                                  ${ escape(item.Species) }
                              </span>
                          </div>
                          <div class="description">${ escape(item.Synonyms) }</div>
                      </div>
                  </div>`;
      }
    },
    onItemAdd: function(value, item) {
      console.log("Value: '" + value + "'");
      window.location.href = "species_info/" + value;
    }
  };
new TomSelect('#tom-select-it', settings);
</script>
