.rate-table {
    margin-top: 2rem;
}

.rate-table td {
    text-align: center;
}

.rate-table th {
    text-align: center;
}

.rxn-container {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 3em;
}

.rxn-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.rxn-title {
    margin-bottom: 1em;
}

.rxn-plus {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.rxn-rate {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.rxn-category {
    display: flex;
    justify-content: center;
}

.rxn-species-image {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.search-bar {
    width: 500px;
}

.marklist-container {
    display: flex;
    flex-flow: column nowrap;
}

.species-list {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.marklist-list {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.marklist-btn-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.marklist-btn {
    display: flex;
    align-self: flex-start;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    justify-content: center;
}

#exportMarklist {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

div.marklist-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0.5em;
}

button.btn-marklist {
    font-size: 1em;
    margin-right: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    color: white;
}

.species-image-large-container {
    overflow: hidden;
}

.species-image-large {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#browseTabContent ul {
    margin-left: 1rem;
    margin-top: 1rem;
}

 /* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  border-left: 5px groove #eee;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar>div {
  padding-left: 20px; 
  padding-right: 20px; 
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  font-size: 36px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s; /* If you want a transition effect */
  padding: 20px;
}

#topNav.nav {
  transition: margin-right .5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
