.rate-table {
    margin-top: 2rem;
}

.rate-table td {
    text-align: center;
}

.rate-table th {
    text-align: center;
}

div.rxn-grid {
  display: grid;
  grid-template-columns: 4fr min-content 2fr 2fr;
  grid-gap: 3em 0.5em;
  align-items: center;
  margin-bottom: 3em;
}

.rxn-title {
    margin-bottom: 1em;
}

div.rxn-plus {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

div.rxn-rate {
    justify-self: center;
}

div.rxn-reactants {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: end;
}

div.rxn-products {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: start;
}

div.rxn-category {
    justify-self: end;
}

.rxn-species-image {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.search-bar {
    width: 300px;
}

.marklist-container {
    display: flex;
    flex-flow: column nowrap;
}

div.species-list {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

div.marklist-list {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.marklist-btn-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

a.marklist-btn {
    display: flex;
    align-self: flex-start;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    justify-content: center;
}

div#exportMarklist {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

div.marklist-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0.5em;
}

button.btn-marklist {
    font-size: 1em;
    margin-right: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    color: black;
    height: 30px;
}

button.btn-marklist-sm {
    width: 30px;
}

div#browseTabContent ul {
    margin-left: 1rem;
    margin-top: 1rem;
}

a.openbtn {
  margin-left: 0.5rem;
}

button.btn-marklist-add-all {
    margin-left: 2rem;
    font-size: 1em;
    margin-right: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    color: black;
}

button.btn-marklist-add-all-category {
    margin-top: 1.5em;
    margin-left: 2rem;
    font-size: 1em;
    margin-right: 0.5em;
    padding-top: 0em;
    padding-bottom: 0em;
    color: black;
}

div.browse-content>div {
    margin-top: 3rem;
}

#browseTab {
    margin-top: 1.5rem;
}

div.species-card {
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: fit-content;
}

form.export-form {
    margin-top: 1rem;
}

form.export-form #exportMarklist {
    margin-bottom: 1rem;
}

form.export-form .export-btn-download {
    margin-top: 1rem;
}

.heading-no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5rem;
}

div#sidebarOffcanvas {
    width: auto;
}

#tom-select-search-ts-control {
    cursor: text;
}

#marklist-count {
    color: black;
}

.navbar-MCM {
    background-color: #9B9BFF;
}

.navbar-CRI {
    background-color: #FF9B9B;
}

.footer {
    display: flex;
    justify-content: space-between;
}
